<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{{url_for('static', filename='keryx2.png')}}">
  <title>Keryx</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body style="background-color:#EFF2F3">
  <div class="container">
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('services') }}">Services</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </nav>
  </div>
<div id="imagepo"><img style="position:relative; left:500px; top:26px;" src="/static/keryx_logo.png" alt="melody logo" width="500" height="350"></div>
<p>Creator of the Page : Chaitu<br>href=""--------->E-mail : chaitu26c@gmail.com<br>------------------>Instagram : @umaidoughnut<br>------------------------------------>Phone : 8985XXXXXX</p>
</body>
</html>
